<section >
    <div class="hero1_container flex  flex_container">
    <div class="image1">
        <img src="https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3241b76b605_Content%20Pattern.svg" class="absolute">
        <img src="https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa379a976b602_Phones.png">

    </div>
    <div class="content">
        <div class="hero4_heading center">Order online with our simple checkout.</div>
        <div class="hero4_subheading center">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.


        </div>
        <div class="flex justify-left center">
            <button><a href="/faq" class="cursor-pointer">See our FAQ</a></button>
        </div>


    </div>
</div>
</section>
<section class="mb10">
    <div class="flex hero2_container flex_container">    <div class="">
    <div class="hero4_heading center">
        Call our store and takeaway when it suits you best.


    </div>
    <div class="hero4_subheading center">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.

    </div>
    <div class="mb-10 flex justify-left center">
    <button >
        Ph. +61 233 2333
    </button>
</div>
</div>
<div class="image3  flex justify-center ">
    <img src="download.png">

</div>
</div>

</section>
<section class="flex gap-5 flex_container">
    <div class="flex image2 justify-stretch h-full">
        <img src="https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3710276b5d2_Group%20Photo.png" >

    </div>
    <div class="card  ">
        <div  class="flex flex-col">
        <div class="card_text center">
            <span>Support</span> good food
and local business.

        </div>
        <div>
            <button class="button"><a href="/order" class="cursor-pointer">Order Now</a></button>
        </div>
    </div>

    </div>
</section>