.section{
    height: 500px;
    position: static;
}
li,.txt{
    color: #546285;
    font-size: 16px;
    padding-bottom: 8px;
    padding-right: 6px;

}
.hero5_heading{
    color:#08090a;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;

}
.social_icon{
    font-size: 1.5rem;
    font-weight: 200;
    opacity: 0.5;
}
.social_icon{
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #546285;
}