<section class="">
    <div class="herosection">    
        <div class="hero3_heading">
        How it works.
    </div>
    <div class="hero_container">
        <div class="item1">
            <div class="flex center">
                <img src="https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3dc2276b60f_Step%2001.png" alt="Step 1">
            </div>
            <div>
                <div class="title center">Adapt your menu items</div>
                <div class="desc center">Easily adapt your menu using the webflow CMS and allow customers to browse your items.</div>
            </div>
        </div>
        <div class="line_col">        <div class="line"></div></div>

        <div class="item2">
            <div class="flex center">
                <img src="https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3e5bf76b60e_Step%2002.png" alt="Step 2">
            </div>
            <div>
                <div class="title center">Accept online orders & takeout</div>
                <div class="desc center">Let your customers order and pay via the powerful ecommerce system, or simple let them call your store.</div>
            </div>
        </div>
        <div class="line_col">  
        <div class="line"></div></div>
        <div class="item3">
            <div class="flex center">
                <img src="https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3001a76b610_Step%2003.png" alt="Step 3">
            </div>
            <div>
                <div class="title center">Manage delivery or takeout</div>
                <div class="desc center">Manage your own logistics and take orders simply through the ecommerce system.</div>
            </div>
        </div>
    </div>
    
  
    
    

</div>

</section>