.hero2_heading{
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;
    color: #35b8be;
    letter-spacing: -0.03em;
    line-height: 1;
    padding-bottom: 1rem;
    


}
.hero2_text{
    padding-top: 6rem;
    padding-bottom: 3rem;

}
.hero2_subheading{
    color: #546285;
    text-align: left;
    margin-bottom: 2rem;



}
.hero2_image{
    width: 80rem;
}
button{
    background-color: #35b8be;
    padding: 0.8rem;
    text-align: center;
    border-radius: 6px;
    color: white;
    background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3345876b5c4_Button%20Wave.svg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;

}
.hero_container{
    display: flex;
    height: 40rem ;
    position: static;
    padding: 2rem;
    padding-top: 8rem;
    background-color: transparent;
    background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3b4c076b5ee_BG%20Shape%20Content.svg");
    background-position: 80% 140%;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}

@media screen and (max-width:991px) {
    .hero_container{
        flex-direction: column;
        gap: 2rem;
        background-size: cover;
        margin: 0;
        background-position: 0% 0%;
        padding-top: 0;
       
    }
    .center{
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }
    .main_subheading{
        padding: 2rem;
    }
    .hero_container{
        height: 70rem;
        margin: 2rem;
        margin-top: 10rem;
    }
    .main_image{
        justify-content: center;
        height: 40rem;
        width: 80vw;

        
        
    }
    .hero2_image{
        width: 80vw;
        margin-left: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
   


}
