<section >
    <div class="hero_container">
    <div class="hero2_text flex flex-col center">    <div class="hero2_heading center">
        The home of
fresh products
    </div>
    <div class="hero2_subheading center">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
    </div>
    <div class="flex justify-start mb-5 center">
        <button><a href="/company" class="cursor-pointer">Learn about us</a></button>
    </div>
</div>
<div class="hero2_image flex justify-center">
    <img src="https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3ccac76b5c6_Group%2033.png">
</div>
</div>
</section>
