<article class="">
    <!-- <div [@divState]="state" style="width: 100px; height: 100px;">  

    </div> -->
    <div class="hero_container" >    <div class="main_text flex gap-2 flex-col  " @slideIn >
        <div class="main_heading center flex flex-col grow  ">
        Beautiful food & takeaway, <span class="brand">delivered</span> to your door.
    </div>
    <div class="main_subheading center flex flex-col ">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
    </div>
    <div class="flex justify-start self-start items-end flex-col grow center  " >
        <button class="button p-2 mt-8 center "><a href="/order" class="cursor-pointer">Place an Order</a></button>
    </div>
    <div class="review flex flex-col grow ">
        <div class="flex justify-start center ">
            <span><i class="ri-star-fill"></i></span>
            <span class="ml-1">Trustpilot</span>
        </div>
        <div class="flex justify-start m-2 center">
            <div>
            <span class="brand">4.8 out of 5 </span>based on 2000+ reviews
        </div>
        </div>

    </div> 
    </div>
    <div class="main_image flex justify-center" @image >
        <img src="https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa395f376b5c1_Hero%20Image.png">

    </div>
</div>

</article> 