<article>
    <div class="empty" [class.isblur]="cartservice.toggle()=='open'" (click)="cartservice.closeCartToggle()" [@slideIn]="cartservice.toggle()">

    </div>
    <div class="window" [class.isopen]="cartservice.toggle()=='open'" [@image]="cartservice.toggle()">
        <div class="hero1_heading flex justify-between">
        <div class="hero1_subheading  m-5 ">
             Your Order
        </div>
        <div class="icon m-5">
            <i class="ri-close-large-line cursor-pointer" (click)="cartservice.closeCartToggle()"></i>
        </div>
        </div>
        <div class="h-screen overflow-y-auto">
        <div >
            <app-cart-item ></app-cart-item>
        </div>

    </div>
    </div>
    

</article>
